.footer-container {
    background: linear-gradient(45deg, #28313b, #485161);
    /* background: linear-gradient(45deg, red, blue); */
    
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer-link-items h2, p, h3{
    color:#fff;
    font-size: 2vh;
    margin-bottom: 8px;
    display: block;
}

.footer-link-items{
    display: block;
    padding: 2rem;
    text-align: left;
    font-size: 2vh;
    box-sizing: border-box;
}

.footer-link-items a {
    color:#fff;
    text-decoration: none;
}

.social-links{
    display: flex;
    justify-content: center;
    /* width: 90%; */
}

.social-icons{
    display: flex;
    padding: 1.5rem;
    font-size: 1.5rem;
    justify-content: space space-between;
    align-items: center;
}

.social-icon-link {
    color:#fff;
    padding: 0px 20px 0px 20px;
    padding-bottom: 50px;
}

.follow-us {
    color: #fff;
    text-align: center;
    font-size: 6vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.website-rights {
    display: flex;
    color: #fff;
    padding: 25px;
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
    
}