.footer-container {
    background-color: grey;
    padding:50px;
}

.footer-link-items h2, p, h3{
    color:white;
    font-size: 2vh;
    margin-bottom: 8px;
    display: block;
}

.footer-link-items{
    display: block;
    padding: 2rem;
    text-align: left;
    font-size: 2vh;
    box-sizing: border-box;
}

.footer-link-items a {
    color:#ffff;
    text-decoration: none;
}

.footer-wrapper {
    display: flex;
    justify-content: left;
}

.social-links{
    display: flex;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.social-icon-link {
    color:#ffff
}

.follow-us {
    color: #fff;
    text-align: center;
    font-size: 6vh;
}